<div class="wrapper-padded product-description-container">
  <div class="product-description product-description_full-width rte readmore closed" itemprop="description">
    {{ product.description }}
  </div>
</div>

