<link rel="preload" href="{{ 'section-newsletter.min.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
<noscript>{{ 'section-newsletter.min.css' | asset_url | stylesheet_tag }}</noscript>

<div
    class="homepage-sections-wrapper homepage-sections-wrapper--{{ section.settings.colors }} newsletter--section"
    data-wetheme-section-type="newsletter--newsletter"
    data-wetheme-section-id="{{ section.id }}"
>
  {% render 'newsletter-form', form_id: 'newsletter_section_form' %}
</div>

{% schema %}
{
    "name": {
        "en": "Newsletter",
        "de": "Newsletter",
        "es": "Boletín de noticias",
        "fr": "Bulletin d'information",
        "pt-PT": "Newsletter"
    },
    "class": "homepage-section--newsletter-wrapper",
    "settings": [
        {
            "type": "select",
            "id": "colors",
            "label": {
                "en": "Color scheme",
                "de": "Farbschema",
                "es": "Esquema de colores",
                "fr": "Palette de couleurs",
                "pt-PT": "Esquema de cores"
            },
            "default": "light",
            "options": [
                {
                    "value": "white",
                    "label": {
                        "en": "Minimal",
                        "fr": "Minimal",
                        "de": "Minimal",
                        "es": "Mínimo",
                        "pt-PT": "Mínimo"
                    }
                },
                {
                    "value": "light",
                    "label": {
                        "en": "Light",
                        "de": "Licht",
                        "es": "Luz",
                        "fr": "Clair",
                        "pt-PT": "Claro"
                    }
                },
                {
                    "value": "accent",
                    "label": {
                        "en": "Feature",
                        "de": "Eigenschaft",
                        "es": "Destacado",
                        "fr": "Caractéristique",
                        "pt-PT": "Funcionalidade"
                    }
                },
                {
                    "value": "dark",
                    "label": {
                        "en": "Dark",
                        "de": "Dunkel",
                        "es": "Oscuro",
                        "fr": "Foncé",
                        "pt-PT": "Escuro"
                    }
                }
            ]
        },
        {
            "id": "newsletter_heading",
            "type": "text",
            "label": {
                "en": "Heading",
                "de": "Überschrift",
                "es": "Encabezado",
                "fr": "Rubrique",
                "pt-PT": "Título"
            },
            "default": {
                "en": "Join our Mailing List",
                "de": "Melden Sie sich bei unserer Mailingliste an",
                "es": "Únase a nuestra lista de correo electrónico",
                "fr": "Inscrivez-vous à notre liste d'envoi",
                "pt-PT": "Aderir à nossa Lista de E-mails"
            }
        },
        {
            "type": "richtext",
            "id": "newsletter_description",
            "label": {
                "en": "Description",
                "de": "Beschreibung",
                "es": "Descripción",
                "fr": "Description",
                "pt-PT": "Descrição"
            }
        }
    ],
    "presets": [
        {
            "name": {
                "en": "Newsletter",
                "de": "Newsletter",
                "es": "Boletín de noticias",
                "fr": "Bulletin d'information",
                "pt-PT": "Newsletter"
            },
            "category": {
                "en": "Newsletter",
                "de": "Newsletter",
                "es": "Boletín de noticias",
                "fr": "Bulletin d'information",
                "pt-PT": "Newsletter"
            }
        }
    ]
}
{% endschema %}
